
<h1>Página Presentación / Formulario de Contacto</h1>

<h2>@ViewData["Mensaje"]</h2>

<div class="form-group">
    <label for="">Nombre</label>
    <input class="form-control" type="text" name="" id="">
    <label for="">Apellido</label>
    <input class="form-control" type="text" name="" id="">
    <label for="">Motivo de contacto</label>
    <input class="form-control" type="text" name="" id="">
    <label for="">Mensaje</label>
    <input class="form-control" type="text" name="" id="">

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Registrar</button> 
    </div> 
</div>

